@model IEnumerable<sln_SingleApartment.ViewModel.CActivity>

@{
    ViewBag.Title = "List";
    int count = 0;
    Layout = "~/Views/Shared/Information_Layout.cshtml";
}

<body class="subpage">
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="index.html" class="logo"><img src="~/Content/Homepage/images/窩居字體設計7.png" width="200" style="margin-top:20px"></a>
        <nav class="right">
            <a href="#" class="button alt">Log in</a>
        </nav>
    </header>
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="generic.html">Generic</a>
            </li>
            <li>
                <a href="elements.html">Elements</a>
            </li>
            <li>
                <a href="/Order/List">訂單List</a>
            </li>
        </ul>
        <ul class="actions vertical">
            <li>
                <a href="#" class="button fit">Login</a>
            </li>
        </ul>
    </nav>
    @*<h2>活動列表</h2>*@
    <section id="main" class="wrapper" style="padding:3em">
        <!--style="border:solid 1px;border-color:black"-->
        <div class="inner">
            <header class="align-center">
                <h1 style="font-size:2em;font-weight:700;line-height:1.3">活動列表</h1>
            </header>
            @using (Html.BeginForm())
            {
            <label class="form-group">

                @Html.TextBox("txtKey")

                <input type="submit" value="查詢" class="btn btn-default" />
                @*@Html.DropDownList("subName")*@

                @*<input type="" name="Namelist" />*@
                
            </label>

            }

            <label>
                @*@Html.ActionLink("新增活動", "Create")*@
                <a href="~/Activity/Create" class="btn btn-primary">新增活動</a>
            </label>
            <label>
                <a href="~/Activity/CartView" class="btn btn-info">查看參加的活動</a>
                @*@Html.ActionLink("查看參加的活動", "Joined_List")*@
            </label>
            <br />
            <br />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SubCategoryDetailID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ActivityName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>

                    <th>
                        @*@Html.DisplayNameFor(model => model.MemberID)*@
                        活動發起人
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.MeetingPoint)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PeopleCount)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.entity.ActivitySubCategory.ActivitySubCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.MemberID)*@
                            @Html.DisplayFor(modelItem => item.entity.tMember.fMemberName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingPoint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeopleCount)
                        </td>
                        

                        @*<td>
                    @Html.DisplayFor(modelItem => item.MemberID)
                </td>*@

                        @*<td>
                    @Html.DisplayFor(modelItem => item.Step)
                </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>

                            @Html.ActionLink("修改", "Edit", new { id = item.ActivityID }) |
                            @Html.ActionLink("加入", "AddToCart_Session", new { id = item.ActivityID })|
                            @Html.ActionLink("刪除", "Delete", new { id = item.ActivityID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
    <footer id="footer">
        <div class="inner">
            <h2>Get In Touch</h2>
            <ul class="actions">
                <li>
                    <span class="icon fa-phone"></span>
                    <a href="#">(000) 000-0000</a>
                </li>
                <li>
                    <span class="icon fa-envelope"></span>
                    <a href="#">information@untitled.tld</a>
                </li>
                <li>
                    <span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000
                </li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design
            <a href="https://templated.co">TEMPLATED</a>. Images
            <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>
 
</body>
