@model global::sln_SingleApartment.ViewModels.ShopViewModel
@{int MemberID = 1;}

<!--#region 頁首標題-->
<!-- pages-title-start -->
<section class="contact-img-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">窩居商城</h2>
                    <p><a href="Home">Home</a> | shop</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pages-title-end -->
<!-- #endregion -->
<!-- shop-style content section start -->
<section class="pages products-page section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-12">
                <div class="all-shop-sidebar">
                    <div class="top-shop-sidebar">
                        <h3 class="wg-title">SHOP BY</h3>
                        <input id="allpd" type="button" value="全部商品" />
                    </div>
                    <div class="shop-one">
                        <h3 class="wg-title2">商品主類別</h3>
                        <ul class="product-categories">
                            @{
                                foreach (var item in Model.MainCategory)
                                {
                                    <li class="cat-item">
                                        <a class="myMainCate" name="@item.ProductMainCategoryID">@item.ProductMainCategoryName</a>
                                        <span class="count">(@item.ProductCount)</span>
                                        <ol>
                                            @{foreach (var subitem in Model.SubCategory.Where(r => r.ProductMainCategoryID == item.ProductMainCategoryID))
                                                {
                                                    <li>
                                                        <a class="mySubCate" name="@subitem.ProductSubCategoryID">@subitem.ProductSubCategoryName</a>
                                                        <span class="count">(@subitem.ProductCount)</span>
                                                    </li>
                                                }
                                            }
                                        </ol>
                                    </li>
                                }
                            }

                        </ul>
                    </div>

                    <div class="shop-one re-shop-one">
                        <h3 class="wg-title2">價格區間</h3>
                        <div class="widget shop-filter">
                            <div class="info_widget">
                                <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div id="amount">
                                        <input type="text" name="first_price" class="first_price" />
                                        <input type="text" name="last_price" class="last_price" />
                                        <button class="button-shop" type="submit"><i class="fa fa-search search-icon"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- #region Bestseller & 下面那ㄍ圖-->

                    <div class="top-shop-sidebar an-shop">
                        <h3 class="wg-title">BEST SELLER</h3>
                        <ul>
                            <li class="b-none">
                                <div class="tb-recent-thumbb">
                                    <a href="">
                                        <img class="attachment" src="~/Content/Product/img/products/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="tb-recentb">
                                    <div class="tb-beg">
                                        <a href="#">Lambskin Shoe</a>
                                    </div>
                                    <div class="tb-product-price font-noraure-3">
                                        <span class="amount">$180.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="b-none">
                                <div class="tb-recent-thumbb">
                                    <a href="">
                                        <img class="attachment" src="~/Content/Product/img/products/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="tb-recentb">
                                    <div class="tb-beg">
                                        <a href="#">Luxury Leather Bag</a>
                                    </div>
                                    <div class="tb-product-price font-noraure-3">
                                        <span class="amount2 ana">$170.00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="b-none agn">
                                <div class="tb-recent-thumbb">
                                    <a href="">
                                        <img class="attachment" src="~/Content/Product/img/products/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="tb-recentb">
                                    <div class="tb-beg">
                                        <a href="#">Vintage Glasses</a>
                                    </div>
                                    <div class="tb-product-price font-noraure-3">
                                        <span class="amount2 ana">$170.00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="ro-info-box-wrap tpl3 st">
                        <div class="tb-image">
                            <img src="~/Content/Product/img/products/4.jpg" alt="">
                        </div>
                        <div class="tb-content">
                            <div class="tb-content-inner an-inner">
                                <h5>WOMEN'S FASHION</h5>
                                <h3>MID SEASON SALE</h3>
                                <h6>
                                    <a href="#">SHOP NOW</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
            </div>
            <div class="col-md-8 col-lg-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="features-tab">
                            <!-- Nav tabs -->
                            <div class="shop-all-tab">
                                <div class="two-part">
                                    <ul class="nav tabs" role="tablist">
                                        <li class="vali">View as:</li>
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-align-justify"></i></a></li>
                                    </ul>
                                </div>
                                <div class="re-shop">
                                    <div class="sort-by">
                                        <div class="shop6">
                                            <label>Sort By :</label>
                                            <select>
                                                <option value="">Default sorting</option>
                                                <option value="">Sort by popularity</option>
                                                <option value="">Sort by average rating</option>
                                                <option value="">Sort by newness</option>
                                                <option value="">Sort by price: low to high</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="shop5">
                                        <label>Show :</label>
                                        <select>
                                            <option value="">12</option>
                                            <option value="">24</option>
                                            <option value="">36</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="shop-tab" id="zone_product">
                                            <!-- single-product start -->
                                            @foreach (var item in Model.product)
                                            {
                                                string pic = item.ProductID.ToString() + ".jpg";
                                                <div class="col-md-4 col-lg-4 col-sm-6">
                                                    <div class="single-product">
                                                        <div class="product-img">
                                                            @*<div class="pro-type">
                                                                    <span>new</span>
                                                                </div>*@
                                                            <a href="#">
                                                                <img src="~/Content/Product/img/products/@pic" alt="Product Title" />
                                                                <img class="secondary-image" alt="Product Title" src="~/Content/Product/img/products/@pic">
                                                            </a>
                                                        </div>
                                                        <div class="product-dsc">
                                                            <h3><a href="#">@item.ProductName</a></h3>
                                                            <div class="star-price">
                                                                <span class="price-left">$ @item.UnitPrice</span>
                                                            </div>
                                                        </div>
                                                        <div class="actions-btn">
                                                            <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                                            <a name="@item.ProductID" onclick="AddToFavoriteList(@MemberID)" data-placement="top" data-toggle="tooltip" href="#" data-original-title="加到最愛"><i class="fa fa-heart"></i></a>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <!-- single-product end -->

                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="row" id="zone_product_detail">
                                        @{
                                            foreach (var item in Model.product)
                                            {
                                                string pic = item.ProductID.ToString() + ".jpg";
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            @*<div class="pro-type">
                                                                    <span>sale</span>
                                                                </div>*@
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="~/Content/Product/img/products/@pic"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix" @*style="height:320px"*@>
                                                            <div class="tb-beg">
                                                                <a href="#">@item.ProductName</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$ @item.UnitPrice </span>
                                                                </div>
                                                            </div>
                                                            <p class="desc" style="height:80px">@item.Description</p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#" name="@item.ProductID" onclick="AddToFavoriteList(@MemberID)">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-all-tab-cr shop-bottom">
                            <div class="two-part">
                                <div class="shop5 page">
                                    <ul>
                                        <li>
                                            <a class="active" href="#">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#"><i class="fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-style  content section end -->
<!-- quick view start -->
<div class="quick-view modal fade in" id="quick-view">
    <div class="container">
        <div class="row">
            <div id="view-gallery" class="owl-carousel product-slider owl-theme">
                <div class="col-xs-12">
                    <div class="d-table">
                        <div class="d-tablecell">
                            <div class="modal-dialog">
                                <div class="main-view modal-content">
                                    <div class="modal-footer" data-dismiss="modal">
                                        <span>x</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <div class="quick-image">
                                                <div class="single-quick-image tab-content text-center">
                                                    <div class="tab-pane  fade in active" id="sin-pro-1">
                                                        <img src="~/Content/Product/img/quick-view/10.jpg" alt="" />
                                                    </div>
                                                    <div class="tab-pane fade in" id="sin-pro-2">
                                                        <img src="~/Content/Product/img/quick-view/10.jpg" alt="" />
                                                    </div>
                                                    <div class="tab-pane fade in" id="sin-pro-3">
                                                        <img src="~/Content/Product/img/quick-view/10.jpg" alt="" />
                                                    </div>
                                                    <div class="tab-pane fade in" id="sin-pro-4">
                                                        <img src="~/Content/Product/img/quick-view/10.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="quick-thumb">
                                                    <div class="nav nav-tabs">
                                                        <ul>
                                                            <li><a data-toggle="tab" href="#sin-pro-1"> <img src="~/Content/Product/img/quick-view/10.jpg" alt="quick view" /> </a></li>
                                                            <li><a data-toggle="tab" href="#sin-pro-2"> <img src="~/Content/Product/img/quick-view/10.jpg" alt="quick view" /> </a></li>
                                                            <li><a data-toggle="tab" href="#sin-pro-3"> <img src="~/Content/Product/img/quick-view/10.jpg" alt="quick view" /> </a></li>
                                                            <li><a data-toggle="tab" href="#sin-pro-4"> <img src="~/Content/Product/img/quick-view/10.jpg" alt="quick view" /> </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7">
                                            <div class="quick-right">
                                                <div class="quick-right-text">
                                                    <h3><strong>product name title</strong></h3>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <a href="#">06 Review</a>
                                                        <a href="#">Add review</a>
                                                    </div>
                                                    <div class="amount">
                                                        <h4>$65.00</h4>
                                                    </div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has beenin the stand ard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrames bled it make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                                    <div class="row m-p-b">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="por-dse responsive-strok clearfix">
                                                                <ul>
                                                                    <li><span>Availability</span><strong>:</strong> In stock</li>
                                                                    <li><span>Condition</span><strong>:</strong> New product</li>
                                                                    <li><span>Category</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="por-dse color">
                                                                <ul>
                                                                    <li><span>color</span><strong>:</strong> <a href="#">Red</a> <a href="#">Green</a> <a href="#">Blue</a> <a href="#">Orange</a></li>
                                                                    <li><span>size</span><strong>:</strong>  <a href="#">SL</a> <a href="#">SX</a> <a href="#">M</a> <a href="#">XL</a></li>
                                                                    <li><span>tag</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="dse-btn">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="por-dse clearfix">
                                                                    <ul>
                                                                        <li class="share-btn qty clearfix">
                                                                            <span>quantity</span>
                                                                            <form action="#" method="POST">
                                                                                <div class="plus-minus">
                                                                                    <a class="dec qtybutton">-</a>
                                                                                    <input type="text" value="02" name="qtybutton" class="plus-minus-box">
                                                                                    <a class="inc qtybutton">+</a>
                                                                                </div>
                                                                            </form>
                                                                        </li>
                                                                        <li class="share-btn clearfix">
                                                                            <span>share</span>
                                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="por-dse clearfix responsive-othre">
                                                                    <ul class="other-btn">
                                                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="por-dse add-to">
                                                                    <a href="#">add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- quick view end -->
<!-- #region 顯示產品的功能Ajax-->
<script>
    @* 條件搜索 *@
    function SearchProductsBy(condition, id){
        $.ajax({
                    url: '@Url.Action("GetProductShowing", "Product")',
                    dataType: 'json',
                    data: JSON.stringify({
                        condition: condition,
                        id : id
                        }),
                    contentType: 'application/json',
                    type: 'POST',
                success: function (data) {
                    //方塊商品區
                    $('#zone_product').empty();
                    $('#zone_product_detail').empty();
                    for (let i = 0; i < data.length; i++) {
                        $('#zone_product').append(
                            '<div class="col-md-4 col-lg-4 col-sm-6"><div class= "single-product"><div class="product-img">'
                            + '<a href="#"><img src="../Content/Product/img/products/' + (JSON.parse(data[i])).ProductID + '.jpg" alt="Product Title"/>'
                            + '<img class="secondary-image" alt="Product Title" src="../Content/Product/img/products/' +(JSON.parse(data[i])).ProductID +'.jpg" />'
                            + '</a></div ><div class="product-dsc"><h3><a href="#">' + (JSON.parse(data[i])).ProductName + '</a></h3>'
                            + '<div class="star-price"> <span class="price-left">$ ' + (JSON.parse(data[i])).UnitPrice + '</span >'
                            + '</div></div ><div class="actions-btn"><a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>'
                            + '<a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>'
                            + '<a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Compare"><i class="fa fa-retweet"></i></a>'
                            + '<a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>'
                            + '</div></div ></div >');
                        $('#zone_product_detail').append(
                            '<div class="li-item"><div class="col-md-4 col-sm-4"><div class="tb-product-item-inner tb2 pct-last">'
                            + '<div class="re-img"><a href="#"><img alt="" src="../Content/Product/img/products/' + (JSON.parse(data[i])).ProductID + '.jpg" />'
                            + '</a ></div><div class="actions-btn"><a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">'
                            + '<i class="fa fa-eye"></i></a></div></div></div>'
                            + '<div class="col-md-8 col-sm-8"><div class="f-fix"><div class="tb-beg"><a href="#">'
                            + (JSON.parse(data[i])).ProductName + '</a ></div>'
                            + '<div class="tb-product-wrap-price-rating"><div class="tb-product-price font-noraure-3">'
                            + '<span class="amount2 ana">$ ' + (JSON.parse(data[i])).UnitPrice + ' </span>'
                            + '</div></div><p class="desc" style="height:80px">' + (JSON.parse(data[i])).Description + '</p>'
                            + '<div class="last-cart l-mrgn ns"><a class="las4" href="#">Add To Cart</a></div>'
                            + '<div class="tb-product-btn"><a href="#"><i class="fa fa-eye"></i></a>'
                            + '<a href="#"><i class="fa fa-heart"></i></a><a href="#">'
                            + '<i class="fa fa-retweet"></i></a></div></div></div></div>');
                    }
                    //條狀商品區

                }
            })
    }
    $(function () {
        $('#allpd').click(function () { SearchProductsBy("all") });
    })
    $(function () {
        $('.myMainCate').click(function () {
            console.log("Main = " + $(this).prop("name"));
            SearchProductsBy("MainCategory",$(this).prop("name"));
        });
    })
    $(function () {
        $('.mySubCate').click(function () {
            SearchProductsBy("SubCategory", $(this).prop("name"));
        });
    })
    @* 加到最愛 *@
    function AddToFavoriteList(MemberID) {
        console.log("in function ");
        console.log($(event.currentTarget).prop("name"));
        
        var pdID = $(event.currentTarget).prop("name");
        $.ajax({
                    url: '@Url.Action("AddToFavorite", "Product")',
                    dataType: 'json',
                    data: JSON.stringify({
                        MemberID: MemberID,
                        ProductID: pdID
                        }),
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (data)
                    {
                        window.alert(JSON.parse(data).ans);
                    }
                })
    }

</script>

<!-- #endregion -->